venv/*
venv
unsloth_compiled_cache/*
grpo_trainer_lora_model/*
qwen2.5-3b-grpo/*
llama.cpp
llama.cpp/*
*.gguf
output.txt
unsloth_compiled_cache/*
_unsloth_sentencepiece_temp/*
*.swp
model_merged/*
qwen2.5-3b-reasoning-model/*
qwen2.5-3b-sft-unsloth-4bit/*
runs/*
